.fundo {
  background-color: rgb(90, 189, 189);
}
.title {
  font-size: 30px;
  color: darkred;s
  font-weight: bold;
}
.stitle {
  font-size: 20px;
  color: brown;
  font-weight: bold;
}
.paragraph {
  font-size: 14px;
  color: black;
}
.box {
  background-color: rgb(51, 50, 51);
  padding: 50px;
  margin: 20px;
  border: 1px solid rgb(128, 0, 0);
}
