.fundo{
    background-color: rgb(186, 228, 219);
}
.title{
    font-size: 30px;
    color: darkred;
    font-weight: bold;
}
.stitle{
    font-size: 20px;
    color: brown;
    font-weight: bold;
    }
.paragraph{
    font-size: 14px;
    color: black;
}    
.box{
    background-color: rgb(238, 225, 238);
    padding: 50px;
    margin: 20px;
    border: 1px solid rgb(128, 0, 0);
}